# Virtual environments
.venv/
venv/
.venv-kgqa/

# Python cache
__pycache__/
*.py[cod]

# Raw data (MetaQA, etc.)
raw_data/*
!raw_data/.gitkeep

# # Methods
# methods/*
# !methods/.gitkeep

# Models
models/*
!models/.gitkeep

# Results
results/*
!results/.gitkeep