# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Datasets
datasets/*
!datasets/.gitkeep

# # Methods
# methods/*
# !methods/.gitkeep

# Models
models/*
!models/.gitkeep

# Results
results/*
!results/.gitkeep